@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.home {
    height: 80vh;
}

.home-content {
}

.header {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: rgb(65, 64, 64);
}

.heading {
    font-size: large;
    font-weight: bold;
}

.contents {
    width: 400px;
}

.contents-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0px;
    gap: 10px;
}