#root {
  margin: 0 auto;
  text-align: center;
}

h3 {
  color: rgb(239, 78, 129);
}

p {
  color: rgb(252, 214, 226);
}

div {
  border: 1px solid black;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(239, 78, 129);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: rgb(252, 214, 226)
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;

  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}

/* Styling of overlay */
/* .bm-overlay {
  width: 100px;
  background: rgba(0, 0, 0, 0.3);
} */

.my-custom-overlay {
  background: transparent !important;
  width: auto !important;
}

.accordion .container {
  position: relative;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
}

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: rgb(239, 78, 129);
  cursor: pointer;
}

.accordion .label::before {
  content: '+';
  color: rgb(239, 78, 129);
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 30px;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  height: 0;
  font-size: 20px;
  text-align: justify;
  overflow: hidden;
  transition: 0.2s;
}

.accordion .container.active .content {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  gap: 10px;
  background-color: #242424;
}

.accordion .container.active .label::before {
  content: '-';
  font-size: 30px;
}

a {
  color: rgb(252, 214, 226);
  text-decoration: none;
}